.header-fight {
  padding: 0 30px;
  height: 70px;
  background-color: rgb(30, 30, 30);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-fight-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    fill: orange;
    color: orange;
  }
}
